<!DOCTYPE html>
<html>
  <head>
    <title="トレーニングマネージメント">
    <meta charset="UTF-8">
  </head>

  <body>
    <center>
    <header>
      <%= link_to 'Top', 'http://localhost:3000/' %>｜
      <a href="index.html">新規コース登録</a>｜
      <%= link_to 'コース一覧', 'home/allcourse' %>
    </header>
    <hr>
      <!-- <p><img src="logo.png" width="60"></p> -->
      <p><%= image_tag 'logo.png', :size => '80x100' %></p>
    </center>
    <from>
      <div style="border-style: solid ; border-width: 1px;">検索</div>
      <p>キーワード：<input type="text" name="keyword">
                   <input type="submit" value="検索"></p>
      <p>カテゴリー：<input type="text" name="category">
                   <input type="submit" value="検索"></p>
    </from>



    <hr>
    <div align = "right", id="footer">training.management</div>


  </body>

</html>
