<!DOCTYPE html>
<html>
  <head>
    <title="トレーニングマネージメント">
    <meta charset="UTF-8">
  </head>

  <body>
    <center>
    <header>
      <a href="index.html">Top</a>｜
      <a href="index.html">新規コース登録</a>｜
      <a href="index.html">コース一覧</a>
    </header>
    <hr>
      <!-- <p><img src="logo.png" width="60"></p> -->
      <p><%= image_tag 'logo.png', :size => '80x100' %></p>
    </center>
    <from>
      <div style="border-style: solid ; border-width: 1px;">検索</div>
      <p>キーワード：<input type="text" name="keyword"><input type="submit"></p>
      <p>カテゴリー：<input type="text" name="keyword"><input type="submit"></p>
    </from>
    <hr>
    <div align = "right", id="footer">training.management</div>

    
  </body>

</html>
